$brand-black: #111316;
$brand-white: #ffffff;
$brand-dark-grey: #33383d;
$brand-grey: #6c757c;
$brand-light-grey: #acb4bc;
$brand-white-grey: #edf1f2;
$brand-orange: #ef7810;
$brand-orange-medium-dark: #c96209;
$brand-orange-dark: #a04e07;
$brand-orange-medium-light: #ffa75a;
$brand-orange-light: #ffc69c;
$brand-shadow: #ccdde5;
