@keyframes mountainBack {
  0% {
    background-position: 0 0%;
  }

  100% {
    background-position: 0 80%;
  }
}

@keyframes mountainBackDesktop {
  0% {
    background-position: 0 -50%;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes mountainMiddle {
  0%,
  15% {
    background-position: 150px 90%;
  }

  100% {
    background-position: 0 90%;
  }
}

@keyframes mountainMiddleDesktop {
  0%,
  15% {
    background-position: 150px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes mountainFront {
  0%,
  30% {
    background-position: -120px 90%;
  }

  100% {
    background-position: 0 90%;
  }
}

@keyframes mountainFrontDesktop {
  0%,
  30% {
    background-position: -120px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes shadow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes trees {
  0% {
    bottom: -20%;
  }

  100% {
    bottom: -1px;
  }
}

@keyframes treesDesktop {
  0%,
  20% {
    bottom: -470px;
  }
  100% {
    bottom: -190px;
  }
}

@keyframes birds {
  0%,
  60% {
    opacity: 0;
    background-position: 0 50%;
  }

  100% {
    opacity: 1;
    background-position: 0 100%;
  }
}

@keyframes birdsDesktop {
  0%,
  60% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes enquiry-modal-popup {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes enquiry-title-popup {
  from {
    transform: translateY(150px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
