.blur {
  height: 100vh;
  width: 100%;
  filter: blur(70px);
  position: absolute;
  z-index: -99;
}

.contact {
  max-width: 700px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;

  &__background {
    position: relative;
    overflow: hidden;
    min-height: 750px;
    margin: 20px;
    width: 100%;
    background: $brand-white;
    border-radius: 10px;
    input,
    textarea {
      max-width: 93%;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    textarea {
      margin-bottom: -2px;
    }

    h1 {
      @include calcRem(28);
      font-weight: 500;
      margin-top: 5px;
    }

    .error {
      margin-top: 0;
      margin-bottom: 10px;
      color: rgba($brand-orange, 0.8);
      transition: 200ms ease;

      &__hidden {
        opacity: 0;
        margin-top: 0;
        margin-bottom: -10px;
        transform: translateY(-10px);
        transition: 200ms ease;
      }
    }

    button {
      margin-top: 15px;
    }

    .response {
      &__hidden {
        display: none;
      }
    }

    img {
      width: 120%;
      max-width: 600px;
      position: absolute;
      bottom: -2px;
      left: 5%;
      pointer-events: none;
    }
  }
  .id {
    margin-top: -32px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: $brand-grey;
    input {
      color: $brand-grey;
      background: none;
      border: none;
      width: 20px;
      padding-left: 5px;
      outline: none;
    }
  }
}
