@media only screen and(min-width: 500px) {
  .hotel-cards {
    margin: 0 10px;
  }
  .specific .header-area .hotel-image img {
    width: 100%;
  }
  .Collapsible .filter-box .slider-container .slider__thumb {
    @include calcRem(16);
    width: 32px;
    height: 32px;
    padding: 9px 6px 0 4px;

    &:active,
    &:focus,
    &:hover {
      transform: translateY(0) scale(1);
      padding-top: 9px;
      height: 32px;
    }
  }
}
@media only screen and (min-width: 600px) and(max-width: 1024px) {
  .header {
    margin-left: 50px;
  }
  .illustration {
    .background {
      .mountain {
        &__back {
        }

        &__middle {
          width: 900px;
          right: 65px;
          bottom: -100px;
        }
        &__front {
          width: 800px;
          bottom: 0;
        }
      }
    }
    .shadow {
      bottom: -50px;
      opacity: 0.9;
    }
    .trees {
      width: 750px;
      left: 10%;
    }
    .birds {
      left: 0;
      width: 100%;
      height: 100vh;
      bottom: 0;
    }
  }
}
@media only screen and(min-width: 1024px) {
  .header {
    padding-left: 100px;
  }
  .illustration {
    .background {
      background-image: url('../../svgs/background-desktop.svg');
      background-position: -50px 0;
      background-size: cover;
      width: 105%;
      height: 100vh;
      animation: none;

      .mountain {
        &__back {
          background-image: url('../../svgs/mountain_back-desktop.svg');
          background-position: 0 0;
          width: 100%;
          animation: none;
        }

        &__middle {
          background-image: url('../../svgs/mountain_middle-desktop.svg');
          background-position: 0 0;
          transform: scale(0.9);
          right: -50px;
          bottom: -70px;
          animation: none;
        }
        &__front {
          background-image: url('../../svgs/mountain_front-desktop.svg');
          background-position: 0 0;
          left: -50px;
          width: 100%;
          height: 110vh;
          bottom: -50px;
          animation: none;
        }
      }
    }
    .shadow {
      background-image: url('../../svgs/shadow-desktop.svg');
      bottom: 0px;
      width: 100%;
      height: 300px;
      animation: none;
    }
    .trees {
      background-image: url('../../svgs/trees-desktop.svg');
      background-position: 50% 0;
      width: 105%;
      height: 120%;
      bottom: -155px;
      left: -80px;
      transform: scale(0.7);
      animation: none;
    }
    .birds {
      background-image: url('../../svgs/birds-desktop.svg');
      background-position: 0 0;
      width: 100%;
      left: -120px;
      bottom: 180px;
      animation: none;
    }
  }
}
