.specific-blur {
  margin-top: -70px;
  position: absolute;
}

.specific {
  .container__outer {
    .hotel-image__desktop {
      max-height: 400px;
      max-width: 550px;
      width: 100%;
      margin-bottom: 300px;
      overflow: hidden;
      img {
        width: 150%;
      }
    }
  }
}

.specific,
.specific-blur {
  top: 0;
  margin-bottom: 190px;
  width: 100%;

  .container__outer {
    .hotel-image__desktop {
      display: none;
    }
  }

  .enquiry-button {
    margin-top: -30px;
  }

  .header-area {
    position: relative;
    h1 {
      background: white;
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      padding: 7px 15px 7px 8px;
      position: absolute;
      left: 0;
      bottom: 10px;
      @include calcRem(20);
      box-shadow: 0 0 15px rgba($brand-black, 0.3);
      font-weight: 500;
      margin-bottom: 10px;
      z-index: 99;
    }
    .hotel-image {
      max-height: 400px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      display: flex;

      img {
        width: 200%;
        transition: 350ms ease-out;
      }
    }
  }

  .hotel-details {
    margin-top: -12px;
    display: grid;
    align-items: center;

    h1 {
      display: none;
    }

    p {
      margin-top: 30px;
      max-width: 500px;
    }

    .paired {
      margin-right: 20px;

      .dot {
        position: absolute;
        margin-top: 20px;
        background: $brand-dark-grey;
        width: 3px;
        height: 3px;
        border-radius: 10px;
      }

      p {
        margin: 10px 0 4px;
      }

      img {
        margin-top: 5px;
        width: 8px;
        margin-right: 5px;
      }

      .replace-mail {
        margin-top: 10px;
      }
    }
    a {
      max-width: 250px;
      color: $brand-black;
    }
  }

  button {
    margin-bottom: 20px;
  }
  .google-map {
    margin-bottom: 325px;
  }
}

.specific-blur {
  filter: blur(30px);
}

.specific-blur {
  margin-bottom: 0;
  .header-area .hotel-image {
    max-height: 100vh;
  }
  .google-map {
    display: none;
  }
}
