.new-establishment,
.new-establishment__blur {
  button {
    margin-top: 10px;
  }

  h1 {
    @include calcRem(22);
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: -5px;
  }

  .card {
    box-shadow: 0 0 10px rgba($brand-shadow, 0.5);
    min-height: 300px;

    .my-establishments {
      display: flex;
      p {
        padding-left: 10px;
        margin: 3px 0;
        @include calcRem(15);
        left: 0;
      }

      .hotel-image {
        margin-top: 5px;
        width: 130px;
        height: 180px;
        left: 0;
        img {
          width: 300%;
        }
      }
    }
    .description {
      margin-top: 5px;
      @include calcRem(15);
      max-width: 500px;
    }
  }

  &__blur {
    filter: blur(30px);
    overflow: hidden;
    max-height: 173vh;
  }
}

.modal {
  .description {
    position: relative;
    margin-bottom: 5px;

    ::-webkit-scrollbar-corner,
    ::-webkit-resizer,
    ::-webkit-scrollbar-track {
      background: none;
      border: none;
    }

    ::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    ::-webkit-scrollbar-thumb {
      background: $brand-orange-light;
    }

    ::-webkit-scrollbar-thumb:hover {
      background: $brand-orange-medium-light;
    }
    p {
      bottom: 0px;
      right: 10px;
      position: absolute;
    }

    .limit {
      color: rgba($brand-orange-medium-light, 0.8);
      font-size: 0.9375rem;
      margin-top: -2px;
      margin-bottom: 15px;
      transition: 200ms ease;

      &__over {
        color: rgb(255, 104, 104);
      }
    }
  }

  .switch {
    .switch__on,
    .switch__on--hidden,
    .switch__off,
    .switch__off--hidden {
      position: relative;
      input {
        cursor: pointer;
        width: 70px;
      }
    }
    &__on {
      input {
        background: $brand-orange;
      }
      span {
        position: absolute;
        top: 4px;
        left: 5px;
        color: $brand-white;
        pointer-events: none;
      }
      &--hidden {
        display: none;
      }
      .switchThumb {
        position: absolute;
        top: 8px;
        left: 43px;
      }
    }
    &__off {
      span {
        position: absolute;
        top: 4px;
        right: 20px;
        color: $brand-white;
        pointer-events: none;
      }
      &--hidden {
        display: none;
      }
      .switchThumb {
        position: absolute;
        top: 8px;
      }
    }
  }

  .id {
    margin-bottom: -35px;
    display: flex;
    align-items: center;
    input {
      background: none;
      border: none;
      width: 20px;
      padding-left: 5px;
    }
  }

  .small-input {
    position: relative;
    input {
      padding-left: 25px;
      display: block;
      max-width: 25px;
    }

    span {
      @include calcRem(18);
      position: absolute;
      top: 34px;
      left: 10px;
    }

    &__guests {
      position: relative;
      input {
        display: block;
        max-width: 40px;
      }
      img {
        position: absolute;
        max-width: 11px;
        top: 37px;
        left: 42px;
        border-radius: 0;
        opacity: 0.6;
      }
    }
  }
}
